In [1]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Preprocessing_Data\ML_After_Skewness.csv")

In [2]:
df.describe()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,salary_per_hour,is_remote,is_large_company
count,4.144000e+03,4.144000e+03,4144.000000,4144.0,3836.000000,4144.000000,2668.000000,4144.000000,4.144000e+03,4144.000000,4144.000000,2668.000000,4.144000e+03,4.144000e+03
mean,3.292090e-16,3.772186e-16,1.996622,0.0,-0.198583,8.860521,0.044640,31.226593,9.601929e-17,30.305502,0.989382,0.044640,8.230225e-17,8.230225e-17
std,1.000121e+00,1.000121e+00,0.085028,0.0,0.553220,0.890232,0.616983,6.252708,1.000121e+00,6.003443,0.165540,0.616983,1.000121e+00,1.000121e+00
min,-1.598702e+00,-1.726322e+00,0.000000,0.0,-3.564228,0.000000,-7.060083,0.000000,-4.949943e-01,0.000000,0.000000,-7.060083,-4.887371e-01,-1.394066e-01
25%,-1.545044e+00,-1.703548e+00,2.000000,0.0,-0.426647,9.000000,-0.084611,33.000000,-4.949943e-01,32.000000,1.000000,-0.084611,-4.887371e-01,-1.394066e-01
50%,6.451721e-01,5.851459e-01,2.000000,0.0,-0.045594,9.000000,0.227128,33.000000,-4.949943e-01,32.000000,1.000000,0.227128,-4.887371e-01,-1.394066e-01
75%,6.451721e-01,5.851459e-01,2.000000,0.0,0.167756,9.000000,0.414593,33.000000,-4.949943e-01,32.000000,1.000000,0.414593,-4.887371e-01,-1.394066e-01
max,6.451721e-01,5.851459e-01,3.000000,0.0,0.939829,9.000000,0.766946,34.000000,2.037421e+00,33.000000,2.000000,0.766946,2.046090e+00,7.173263e+00