In [2]:
import joblib

model_path = r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Models\randomized_xgb_model.pkl"
model = joblib.load(model_path)

In [4]:
import pandas as pd
import numpy as np

# Tasodifiylik uchun seed
np.random.seed(42)

# 500 qatorli data yaratish
experience_levels = np.random.choice([1, 2, 3, 4], size=500)  # Tajriba darajalari
employment_types = np.random.choice(["full_time", "part_time", "contract", "freelance"], size=500)
job_titles = ["ML Engineer"] * 500  # Faqat ML Engineer
salaries = np.random.randint(70000, 200000, size=500)  # 70,000 dan 200,000 gacha salary

df = pd.DataFrame({
    "experience_level": experience_levels,
    "employment_type": employment_types,
    "job_title": job_titles,
    "salary": salaries
})

# Faylni saqlash
df.to_csv(r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Enginered_Data\New_Data.csv", index=False)

print("New_Data.csv fayli yaratildi:", df.shape)
df.head(10)

New_Data.csv fayli yaratildi: (500, 4)

   experience_level employment_type    job_title  salary
0                 3        contract  ML Engineer  117605
1                 4       full_time  ML Engineer  191790
2                 1       full_time  ML Engineer  175616
3                 3       freelance  ML Engineer  108088
4                 3        contract  ML Engineer  148752
5                 4       full_time  ML Engineer  125284
6                 1       freelance  ML Engineer  127043
7                 1        contract  ML Engineer  195388
8                 3       freelance  ML Engineer  105547
9                 2       part_time  ML Engineer  167007

In [17]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Unnamed: 0": range(1, 501),
    "work_year": np.random.choice([2020, 2021, 2022, 2023], size=500),
    "experience_level": np.random.choice([1, 2, 3, 4], size=500),
    "job_title": ["ML Engineer"] * 500,
    "salary_currency": ["USD"] * 500,
    "salary_in_usd": np.random.randint(70000, 200000, size=500),
    "employee_residence": np.random.choice(["US", "UK", "IN", "DE"], size=500),
    "remote_ratio": np.random.choice([0, 50, 100], size=500),
    "company_size": np.random.choice(["S", "M", "L"], size=500),
    "is_large_company": np.random.choice([0, 1], size=500)
})

df.to_csv(r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Enginered_Data\New_Data.csv", index=False)

In [19]:
import pandas as pd
import sys
import joblib

sys.path.append(r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Scripts")
from data_preprocessing import preprocess_data

# Data yuklash
new_data_path = r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Enginered_Data\New_Data.csv"
new_data = pd.read_csv(new_data_path)

log_path = r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Log\preprocessing.log"
new_data_processed = preprocess_data(new_data, log_path)

# Model yuklash
model_path = r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Models\randomized_xgb_model.pkl"
model = joblib.load(model_path)

# Predict
predictions = model.predict(new_data_processed)

# Natijalarni saqlash
output_df = new_data.copy()
output_df["Predicted_Salary"] = predictions
output_path = r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Enginered_Data\Predictions.csv"
output_df.to_csv(output_path, index=False)

print(f"Predict natijalari saqlandi: {output_path}")

Predict natijalari saqlandi: C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Enginered_Data\Predictions.csv

In [22]:
import pandas as pd
import numpy as np

# 500 ta tasodifiy target salary yaratish
np.random.seed(42)
test_target = pd.DataFrame({
    "salary": np.random.randint(70000, 200000, size=500)
})

# Fayl saqlash
test_target_path = r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Test_Target.csv"
test_target.to_csv(test_target_path, index=False)

print(f"Test_Target.csv fayli yaratildi: {test_target_path}")

Test_Target.csv fayli yaratildi: C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Test_Target.csv

In [23]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import pandas as pd

# Test target ma'lumotlarini yuklash
y_test_path = r"C:\Users\Rasulbek_Ruzmetov\Desktop\SML_R_Project\Data\Test_Target.csv"
y_test = pd.read_csv(y_test_path)

# Agar y_test faqat bitta ustun bo'lsa, uni Series sifatida olish
if y_test.shape[1] == 1:
    y_test = y_test.iloc[:, 0]

# Performance metrikslarini hisoblash
r2 = r2_score(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)

print(f"R2 Score: {r2:.4f}")
print(f"MAE: {mae:.2f}")
print(f"MSE: {mse:.2f}")

R2 Score: -12.5820
MAE: 137139.95
MSE: 20302155776.00